<%- include('../partials/header.ejs'); %>

  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1>
          <%= title %>
        </h1>
        <form class="paxForm" method="post">
          <div class="form-group">
            <label for="FirstNameTextField">First Name</label>
            <input type="text" class="form-control" id="FirstNameTextField" placeholder="First Name" name="firstName"
              value="" required>
          </div>


          <div class="form-group">
            <label for="LastNameTextField">Last Name</label>
            <input type="text" class="form-control" id="LastNameTextField" placeholder="Last Name" name="lastName"
              value="" required>
          </div>

          <div class="form-group">
            <label for="GenderTextField">Gender</label>
            <select id="GenderTextField" class="form-control" name="gender">
              <option selected>Male</option>
              <option >Female</option>
              <option>Other</option>
            </select>
          </div>

          <div class="form-group">
            <label for="EmailTextField">Email</label>
            <input type="email" class="form-control" id="EmailTextField" placeholder="Email" name="email" value=""
              required>
          </div>
          <div class="form-group">
            <label for="PhoneNumberTextField">Phone Number</label>
            <input type="text" class="form-control" id="PhoneNumberTextField" placeholder="Phone Number"
              name="phoneNumber" value="" required>
          </div>
          <div class="form-group">
            <label for="DOBTextField">Date of Birth</label>
            <input id="DOBTextField" type="date" name="dob" value="Departure Date" class="form-control">
          </div>

          <br>
          <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
          <a href="/flights" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
        </form>
      </div>
      <div class="col-md-offset-3 col-md-6">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2>Flight Details</h2>
            <p>Airline : <%=flight.Airline %>
            </p>


            <p>From <%=flight.From %> to <%=flight.To %>
            </p>
            <p>Depature time: <%=flight.FromTime %>
            </p>
            <p>Arrival time: <%=flight.ToTime %>
            </p>
            <h4>Price: $<%=flight.Price %>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
function myFunction() {
  document.getElementById("paxForm").reset();
}
</script>


  <%- include('../partials/footer.ejs'); %>