<%- include('../partials/header.ejs'); %>
  
  <!-- MAIN CONTENT -->
  <div class="container mb-">
    <div class="row d-flex justify-content-center">
      <div class="col-md-offset-3 col-md-6">
        <h1 class="text-center mb-2">
          <%= title %>
            <form class="form" method="post" style="margin-bottom:50px;">
            
              <div class="card shadow-lg p-3 mb-2 bg-white rounded" style="border-left: 5px solid rgb(114, 114, 114)">
                <div class="card-body">
                  <h5 class="card-title"><%= data.title %></h5>
                  <h6 class="card-text"><%= data.description %></h6>
                </div>
              </div>
            <% for (let count=0; count < data.questions.length; count++) { %>
              <div class="card shadow-lg p-3 mb-2 bg-white rounded" style="  border-left: 5px solid rgb(44, 235, 162)">
                <div class="card-body">
                 <h5 class="card-title"><%=data.questions[count].question%></h5>
           <% for (let optionCount=0; optionCount < data.questions[count].optionsList.length; optionCount++) { %>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio<%=count+1%>" name="q<%=count+1%>Radio" required value="<%= data.questions[count].optionsList[optionCount].option %>" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">
                      <h6><%= data.questions[count].optionsList[optionCount].option %></h6>
                    </label>
                  </div>
                     <% } %>
               


                </div>
              </div>
   <% } %>
             

              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/survey" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
      </div>
    </div>
  </div>

  <%- include('../partials/footer.ejs'); %>