<%- include('../partials/header.ejs'); %>
    <div class="container mt-5">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h3 class=" text-center mb-5">Survey Responses
            </h3>
            <input type="hidden" id="chartdata" value="<%= data %>" />
            <div class="container">
                <div class="row">
                    <div class="col-lg-4  col-12">

                        <canvas id="myChart" width="300" height="300" style="width: 12rem;"></canvas>
                        <p>
                            <%=questions[0] %>
                        </p>
                    </div>
                    <div class="col-lg-4 col-12">

                        <canvas id="myChart1" width="300" height="300" style="width: 12rem;"></canvas>
                        <p>
                            <%=questions[1] %>
                        </p>
                    </div>
                    <div class="col-lg-4 col-12">

                        <canvas id="myChart2" width="300" height="300" style="width: 12rem;"></canvas>
                        <p>
                            <%=questions[2] %>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-12">

                        <canvas id="myChart3" width="300" height="300" style="width: 12rem;"></canvas>
                        <p>
                            <%=questions[3] %>
                        </p>
                    </div>
                    <div class="col-lg-4 col-12">

                        <canvas id="myChart4" width="300" height="300" style="width: 12rem;"></canvas>
                        <p>
                            <%=questions[4] %>
                        </p>
                    </div>
                    <div class="col-lg-4 col-12">


                    </div>

                </div>


                <div class="p-2"> </div>

            </div>
        </div>

    </div>
    </div>
    </div>
    <%- include('../partials/footer.ejs'); %>
        <script src="/Scripts/chartdata.js"></script>