<%- include('../partials/header.ejs'); %>
    <div class="container mt-5">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h3 class=" text-center mb-5">Survey Responses
            </h3> <a href="/survey/response/export/<%= id%>" class="btn btn-success text-center"> <i
                    class="fas fa-file-export"></i> Export to CSV</a>

            <div class="row ">
                <div class="d-flex flex-row justify-content-center">

                    <div class="p-2"> </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Answers</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for (let count=0; count < items.length; count++) { %>
                                <tr>
                                    <th scope="row">
                                        <%=items[count]._id%>
                                    </th>
                                    <td>
                                        <%=items[count].ownerId.displayName%>
                                    </td>
                                    <td>
                                        <%=items[count].questionValue%>
                                    </td>

                                </tr>

                                <% } %>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <%- include('../partials/footer.ejs'); %>